nav {
  background-color: rgb(171, 215, 239);
  display: flex;
  justify-content: space-between;
}
nav .nav-left {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 50px;
}
@media screen and (max-width: 1200px) {
  nav .nav-left {
    flex: 0.5;
  }
}
nav .nav-left img {
  height: 60px;
  margin-top: 15px;
}
nav .nav-right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
}
nav .nav-right input {
  display: none;
}
@media screen and (max-width: 768px) {
  nav .nav-right #menu__toggle {
    opacity: 0;
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  nav .nav-right #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  nav .nav-right .menu__btn {
    position: absolute;
    top: 36px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  nav .nav-right .menu__btn > span,
  nav .nav-right .menu__btn > span::before,
  nav .nav-right .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  nav .nav-right .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  nav .nav-right .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 60px 0;
    background-color: rgb(171, 215, 239);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__item {
    display: block;
    padding: 15px 30px;
    color: #333;
    font-family: "Roboto", sans-serif;
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__item:hover {
    background-color: #CFD8DC;
  }
}
@media screen and (max-width: 1200px) {
  nav .nav-right {
    flex: 1.5;
  }
}
nav .nav-right ul {
  display: flex;
  gap: 40px;
}
nav .nav-right ul li {
  list-style: none;
}
nav .nav-right ul li a {
  text-decoration: none;
}

footer {
  background: skyblue;
  margin-top: -5PX;
}
footer .footer-container {
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: 1200px) {
  footer .footer-container {
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
footer .footer-container .footer-left {
  width: 380px;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  footer .footer-container .footer-left {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-container .footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
footer .footer-container .footer-left img {
  width: 200px;
  margin-bottom: 110px;
}
@media screen and (max-width: 768px) {
  footer .footer-container .footer-left img {
    margin-bottom: 0px;
  }
}
footer .footer-container .footer-right {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer {
  display: flex;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer i {
  color: blue;
  font-size: 28px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
}
@media screen and (max-width: 768px) {
  footer .footer-container .footer-right {
    margin-top: 0px;
  }
}

header {
  height: 480px;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: sans-serif;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-us h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .contact-us h1 {
    margin-top: 100px;
  }
}
.contact-us .check-schedule {
  width: 100%;
  height: 490px;
  background-image: url(/image/img-of-content/form.jpg);
  background-size: cover;
}
.contact-us .check-schedule button {
  width: 150px;
  height: 45px;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 10px;
  border: none;
  background: blue;
  color: white;
}
.contact-us .check-schedule button a {
  color: white;
}
@media screen and (max-width: 768px) {
  .contact-us .check-schedule button {
    padding: 5px;
    margin-bottom: 10px;
  }
}
.contact-us .container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  .contact-us .container {
    margin-top: 20px;
    margin-right: 0px;
    align-items: center;
  }
}
.contact-us .container .form-container {
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid rgba(192, 190, 190, 0.943);
  background: rgba(0, 0, 0, 0.3411764706);
}
.contact-us .container .form-container .header1 {
  color: white;
}
.contact-us .container .form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-us .container .form-container form input {
  margin-top: 25px;
  padding: 10px;
  width: 150%;
  border-radius: 5px;
  border: none;
}
.contact-us .container .form-container button {
  width: 100px;
  height: 45px;
  margin-top: 25px;
  margin-right: 50px;
  border-radius: 10px;
  border: none;
  background: blue;
  color: white;
}

.location h1 {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
}

header {
  height: 480px;
  background-image: url(/image/img-of-content/header-for-contact.jpg);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  header {
    height: 230px;
  }
}

.working-hour {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 65px;
  margin-right: 50px;
}
.working-hour h1 {
  text-align: center;
  margin-bottom: 50px;
  color: blue;
}
.working-hour p, .working-hour li {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .working-hour p, .working-hour li {
    font-size: 13px;
  }
}/*# sourceMappingURL=contact.css.map */