nav {
  background-color: rgb(171, 215, 239);
  display: flex;
  justify-content: space-between;
}

.nav-left {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 40px;
}
.nav-left img {
  height: 60px;
  margin-top: 15px;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 40px;
}
.nav-right ul {
  display: flex;
  gap: 40px;
}
.nav-right ul li {
  list-style: none;
}
.nav-right ul li a {
  text-decoration: none;
}

footer {
  background: skyblue;
  margin-top: -5PX;
}
footer .footer-container {
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: 1200px) {
  footer .footer-container {
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
footer .footer-container .footer-left {
  width: 380px;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  footer .footer-container .footer-left {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-container .footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
footer .footer-container .footer-left img {
  width: 200px;
  margin-bottom: 110px;
}
@media screen and (max-width: 768px) {
  footer .footer-container .footer-left img {
    margin-bottom: 0px;
  }
}
footer .footer-container .footer-right {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer {
  display: flex;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer i {
  color: blue;
  font-size: 28px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
}
@media screen and (max-width: 768px) {
  footer .footer-container .footer-right {
    margin-top: 0px;
  }
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.container-card {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card {
  width: 30%;
  height: 340px;
  margin-top: 50px;
  background: rgba(192, 190, 190, 0.943);
}
@media screen and (max-width: 1200px) {
  .card {
    width: 32%;
  }
}
@media screen and (max-width: 992px) {
  .card {
    width: 48%;
    height: 320px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 98%;
  }
}
.card .card-footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.card .card-footer h5 {
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  color: blue;
}
.card .card-footer p {
  font-size: 12px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .card .card-footer p {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .card .card-footer p {
    font-size: 9px;
  }
}/*# sourceMappingURL=health-check-up.css.map */