nav {
  display: flex;
  justify-content: space-between;
}
nav .nav-left {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  nav .nav-left {
    flex: 0.5;
  }
}
nav .nav-right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
}
nav .nav-right input {
  display: none;
}
@media screen and (max-width: 730px) {
  nav .nav-right #menu__toggle {
    opacity: 0;
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  nav .nav-right #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  nav .nav-right .menu__btn {
    position: absolute;
    top: 36px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  nav .nav-right .menu__btn > span,
  nav .nav-right .menu__btn > span::before,
  nav .nav-right .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  nav .nav-right .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  nav .nav-right .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 60px 0;
    background-color: rgba(14, 59, 98, 0.867);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__item {
    display: block;
    padding: 15px 30px;
    color: #333;
    font-family: "Roboto", sans-serif;
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__item:hover {
    background-color: #CFD8DC;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-right {
    flex: 1.5;
  }
}
nav .nav-right ul {
  display: flex;
  gap: 40px;
}
nav .nav-right ul li {
  list-style: none;
}
nav .nav-right ul li a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(14, 59, 98, 0.867);
}
@media screen and (max-width: 730px) {
  nav .nav-right ul li a {
    color: white;
  }
}
nav .nav-right ul li a:hover {
  background-color: rgb(173, 208, 220);
  height: 100px;
  width: 300px;
}

footer {
  background: skyblue;
  margin-top: -5PX;
}
footer .footer-container {
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: ) {
  footer .footer-container {
    gap: 30px;
  }
}
@media screen and (max-width: ) {
  footer .footer-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
footer .footer-container .footer-left {
  width: 380px;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: ) {
  footer .footer-container .footer-left {
    width: 300px;
  }
}
@media screen and (max-width: ) {
  footer .footer-container .footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
footer .footer-container .footer-left img {
  width: 200px;
  margin-bottom: 110px;
}
@media screen and (max-width: ) {
  footer .footer-container .footer-left img {
    margin-bottom: 0px;
  }
}
footer .footer-container .footer-right {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer {
  display: flex;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer i {
  color: rgba(36, 36, 238, 0.897);
  font-size: 28px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
}
@media screen and (max-width: ) {
  footer .footer-container .footer-right {
    margin-top: 0px;
  }
}

header {
  height: 480px;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(241, 248, 249);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 133vh;
  width: 80%;
  margin-top: 10px;
}
.container-card .card {
  width: 28%;
  height: 360px;
  position: relative;
  transition: 0.5s ease-in-out;
  box-shadow: 2px 2px 10px gray;
  border-radius: 10px;
}
.container-card .card img {
  border-radius: 10px 10px 0px 0px;
}
.container-card .card .card-footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.container-card .card .card-footer p {
  text-align: center;
}
@media screen and (max-width: 620px) {
  .container-card .card .card-footer p {
    display: none;
  }
}
.container-card .card .card-footer h5 {
  margin-top: 7px;
  text-align: center;
  color: rgba(36, 36, 238, 0.897);
}
.container-card .card:hover {
  transform: translateY(20px);
}

@media screen and (max-width: 1024px) {
  .container-card {
    margin-top: 10px;
    height: 122vh;
    width: 100%;
  }
  .container-card .card {
    width: 28%;
    height: 285px;
  }
  .container-card .card img {
    height: 30vh;
  }
  .container-card .card .card-footer {
    gap: 7px;
  }
  .container-card .card .card-footer p {
    font-size: 13px;
  }
  .container-card .card .card-footer h5 {
    font-size: 12px;
  }
}
@media screen and (max-width: 730px) {
  .container-card {
    height: 158vh;
    width: 90%;
  }
  .container-card .card {
    width: 42%;
    height: 255px;
  }
  .container-card .card img {
    height: 28vh;
  }
  .container-card .card-footer {
    gap: 7px;
  }
  .container-card .card-footer p {
    font-size: 11px;
  }
  .container-card .card-footer h5 {
    margin-top: 7px;
  }
  th, td {
    font-size: 13px;
  }
}
@media screen and (max-width: 620px) {
  .container-card {
    height: 340vh;
    width: 100%;
  }
  .container-card .card {
    width: 70%;
    height: 285px;
  }
  .container-card .card img {
    height: 35vh;
  }
  .container-card .card-footer {
    gap: 7px;
  }
  .container-card .card-footer p {
    font-size: 13px;
  }
  th, td {
    font-size: 12px;
  }
}
.table-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-container table {
  width: 80%;
  border-collapse: collapse;
}
@media screen and (max-width: 730px) {
  .table-container table {
    width: 90%;
  }
}

thead {
  color: white;
}

td,
th {
  padding: 10px;
  text-align: center;
  border: 1px solid white;
}

tbody {
  background-color: rgba(34, 29, 90, 0.79);
  color: white;
  font-weight: bold;
}

tbody:hover {
  background-color: rgb(31, 38, 40);
}

thead th:nth-child(odd) {
  background-color: rgb(15, 15, 84);
}

thead th:nth-child(even) {
  background-color: rgb(7, 236, 60);
}

.material-icons {
  color: white;
}

header {
  display: flex;
  justify-content: center;
  background-image: url(../image/health-check-up/bagroud.jpg);
  background-size: cover;
  height: 400px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(14, 59, 98, 0.867);
  color: white;
}
.image p {
  margin-bottom: -100px;
  font-size: 23px;
}
.image b {
  font-size: 70px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 20vh;
}/*# sourceMappingURL=health-check-up.css.map */