nav {
  background-color: rgb(171, 215, 239);
  display: flex;
  justify-content: space-between;
}

.nav-left {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 40px;
}
.nav-left img {
  height: 60px;
  margin-top: 15px;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 40px;
}
.nav-right ul {
  display: flex;
  gap: 40px;
}
.nav-right ul li {
  list-style: none;
}
.nav-right ul li a {
  text-decoration: none;
}

footer {
  background: skyblue;
  height: 320px;
  margin-top: -5PX;
}
footer .footer-container {
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
footer .footer-container .footer-left {
  width: 350px;
}
footer .footer-container .footer-left img {
  width: 200px;
  margin-bottom: 110px;
}
footer .footer-container .footer-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 350px;
  margin: 10px 15px;
  line-height: 45px;
}
footer .footer-container .footer-center .footer-center-header {
  height: 55px;
}
footer .footer-container .footer-center .footer-center-footer ul li {
  list-style: none;
}
footer .footer-container .footer-center .footer-center-footer ul li a {
  text-decoration: none;
}
footer .footer-container .footer-right {
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer {
  display: flex;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer i {
  color: blue;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
}
footer .footer-container .footer-right .contact-footer i .fa-map-marker {
  font-size: 25px;
  width: 80px;
  height: 20px;
  border-radius: 50%;
}
footer .footer-container .footer-right .contact-footer i .fa-telegram {
  line-height: 40px;
  font-size: 27px;
}
footer .footer-container .footer-right .contact-footer i .fa-envelope {
  font-size: 10px;
  line-height: 38px;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: sans-serif;
}

.why-they-choose-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
.why-they-choose-us h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: blue;
}
.why-they-choose-us .card-container {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .why-they-choose-us .card-container {
    flex-wrap: wrap;
  }
}
.why-they-choose-us .card-container .card {
  width: 25%;
  display: flex;
}
@media screen and (max-width: 768px) {
  .why-they-choose-us .card-container .card {
    width: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .why-they-choose-us .card-container .card {
    width: 98%;
  }
}
.why-they-choose-us .card-container .card p {
  margin-top: 20px;
  text-align: center;
}

.our-doctor {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
.our-doctor h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: blue;
}
.our-doctor .container-buntton {
  display: flex;
  justify-content: end;
  margin-right: 180px;
  width: 100%;
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .our-doctor .container-buntton {
    flex-direction: row;
  }
}
@media screen and (max-width: 1200px) {
  .our-doctor .container-buntton {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .our-doctor .container-buntton {
    display: none;
  }
}
.our-doctor .container {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 1200px) {
  .our-doctor .container {
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.our-doctor .container .card {
  height: 270px;
  width: 24%;
}
@media screen and (max-width: 1200px) {
  .our-doctor .container .card {
    width: 33%;
  }
}
@media screen and (max-width: 768px) {
  .our-doctor .container .card {
    width: 100%;
  }
}
.our-doctor .container .card .card-header {
  width: 270px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .our-doctor .container .card .card-header {
    margin-left: 17%;
  }
}
.our-doctor .container .card .card-header img {
  height: 170px;
}
.our-doctor .container .card .card-footer {
  background: rgb(171, 215, 239);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
}
@media screen and (max-width: 1200px) {
  .our-doctor .container .card .card-footer {
    height: 60px;
  }
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-us h1 {
  margin-top: 30px;
  margin-bottom: 50px;
  color: blue;
}
.contact-us .check-schedule {
  width: 100%;
  height: 475px;
  background-image: url(/image/img-of-content/form.jpg);
  background-size: cover;
}
.contact-us .check-schedule .container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 80px;
}
.contact-us .check-schedule .container .form-container {
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid rgba(192, 190, 190, 0.943);
  background: rgba(0, 0, 0, 0.3411764706);
}
.contact-us .check-schedule .container .form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-us .check-schedule .container .form-container form input {
  margin-top: 25px;
  padding: 10px;
  width: 150%;
  border-radius: 5px;
  border: none;
}
.contact-us .check-schedule .container .form-container button {
  width: 100px;
  padding: 10px;
  margin-top: 25px;
  margin-right: 50px;
  border-radius: 10px;
  border: none;
  background: blue;
}
.contact-us .check-schedule button {
  width: 150px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 70px;
  border-radius: 10px;
  border: none;
  background: blue;
  color: rgba(192, 190, 190, 0.943);
}
@media screen and (max-width: 768px) {
  .contact-us .check-schedule button {
    padding: 5px;
    margin-bottom: 10px;
  }
}

.location h1 {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
}/*# sourceMappingURL=home.css.map */