nav {
  background-color: rgb(171, 215, 239);
  display: flex;
  justify-content: space-between;
}
nav .nav-left {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 50px;
}
@media screen and (max-width: 1024px) {
  nav .nav-left {
    flex: 0.5;
  }
}
nav .nav-left img {
  height: 60px;
  margin-top: 15px;
}
nav .nav-right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
}
nav .nav-right input {
  display: none;
}
@media screen and (max-width: 730px) {
  nav .nav-right #menu__toggle {
    opacity: 0;
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  nav .nav-right #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  nav .nav-right .menu__btn {
    position: absolute;
    top: 36px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  nav .nav-right .menu__btn > span,
  nav .nav-right .menu__btn > span::before,
  nav .nav-right .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  nav .nav-right .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  nav .nav-right .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 60px 0;
    background-color: rgb(171, 215, 239);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__item {
    display: block;
    padding: 15px 30px;
    color: #333;
    font-family: "Roboto", sans-serif;
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__item:hover {
    background-color: #CFD8DC;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-right {
    flex: 1.5;
  }
}
nav .nav-right ul {
  display: flex;
  gap: 40px;
}
nav .nav-right ul li {
  list-style: none;
}
nav .nav-right ul li a {
  text-decoration: none;
}

footer {
  background: skyblue;
  margin-top: -5PX;
}
footer .footer-container {
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: ) {
  footer .footer-container {
    gap: 30px;
  }
}
@media screen and (max-width: ) {
  footer .footer-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
footer .footer-container .footer-left {
  width: 380px;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: ) {
  footer .footer-container .footer-left {
    width: 300px;
  }
}
@media screen and (max-width: ) {
  footer .footer-container .footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
footer .footer-container .footer-left img {
  width: 200px;
  margin-bottom: 110px;
}
@media screen and (max-width: ) {
  footer .footer-container .footer-left img {
    margin-bottom: 0px;
  }
}
footer .footer-container .footer-right {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer {
  display: flex;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer i {
  color: blue;
  font-size: 28px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
}
@media screen and (max-width: ) {
  footer .footer-container .footer-right {
    margin-top: 0px;
  }
}

header {
  height: 480px;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: sans-serif;
}

body {
  background-color: rgb(241, 248, 249);
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .container-card {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  gap: 50px;
  margin-left: 50px;
}
@media screen and (max-width: 1200px) {
  .container .container-card {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .container .container-card {
    width: 90%;
    gap: 30px;
  }
}
@media screen and (max-width: 730px) {
  .container .container-card {
    margin-left: 10px;
  }
}
.container .container-card .card {
  width: 27.5%;
  margin-top: 25px;
  background: white;
  padding: 0.4em;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgb(182, 189, 191);
}
@media screen and (max-width: 1024px) {
  .container .container-card .card {
    width: 27%;
  }
}
@media screen and (max-width: 730px) {
  .container .container-card .card {
    width: 45%;
  }
}
@media screen and (max-width: 620px) {
  .container .container-card .card {
    width: 90%;
  }
}
.container .container-card .card .card-image {
  height: 210px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 6px 6px 0 0;
}
@media screen and (max-width: 1024px) {
  .container .container-card .card .card-image {
    height: 190px;
  }
}
.container .container-card .card .card-image img {
  margin-top: -30px;
  width: 255px;
  height: 220px;
}
@media screen and (max-width: 1200px) {
  .container .container-card .card .card-image img {
    width: 220px;
    height: 210px;
  }
}
@media screen and (max-width: 1024px) {
  .container .container-card .card .card-image img {
    width: 200px;
    height: 190px;
  }
}
@media screen and (max-width: 730px) {
  .container .container-card .card .card-image img {
    width: 230px;
  }
}
@media screen and (max-width: 620px) {
  .container .container-card .card .card-image img {
    width: 290px;
    height: 210px;
  }
}
.container .container-card .card .card-image:hover {
  transform: scale(0.98);
}
.container .container-card .card .category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}
.container .container-card .card .category:hover {
  cursor: pointer;
}
.container .container-card .card .heading {
  font-size: 13px;
  color: rgb(88, 87, 87);
  padding: 7px;
}
.container .container-card .card .heading .money {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}
.container .container-card .card .heading:hover {
  cursor: pointer;
}

header {
  background-image: url(/image/img-of-content/header1.webp);
  background-size: cover;
  height: 400px;
}
header .image {
  background-color: rgba(35, 121, 196, 0.867);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
header .image p {
  margin-bottom: -100px;
  font-size: 23px;
}
header .image b {
  font-size: 70px;
}
@media screen and (max-width: 620px) {
  header .image b {
    font-size: 40px;
  }
}/*# sourceMappingURL=service.css.map */