nav {
  background-color: rgb(171, 215, 239);
  display: flex;
  justify-content: space-between;
}
nav .nav-left {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 50px;
}
@media screen and (max-width: 1024px) {
  nav .nav-left {
    flex: 0.5;
  }
}
nav .nav-left img {
  height: 60px;
  margin-top: 15px;
}
nav .nav-right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
}
nav .nav-right input {
  display: none;
}
@media screen and (max-width: 730px) {
  nav .nav-right #menu__toggle {
    opacity: 0;
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  nav .nav-right #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  nav .nav-right .menu__btn {
    position: absolute;
    top: 36px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  nav .nav-right .menu__btn > span,
  nav .nav-right .menu__btn > span::before,
  nav .nav-right .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  nav .nav-right .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  nav .nav-right .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 60px 0;
    background-color: rgb(171, 215, 239);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__item {
    display: block;
    padding: 15px 30px;
    color: #333;
    font-family: "Roboto", sans-serif;
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__item:hover {
    background-color: #CFD8DC;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-right {
    flex: 1.5;
  }
}
nav .nav-right ul {
  display: flex;
  gap: 40px;
}
nav .nav-right ul li {
  list-style: none;
}
nav .nav-right ul li a {
  text-decoration: none;
}

footer {
  background: skyblue;
  margin-top: -5PX;
}
footer .footer-container {
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: ) {
  footer .footer-container {
    gap: 30px;
  }
}
@media screen and (max-width: ) {
  footer .footer-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
footer .footer-container .footer-left {
  width: 380px;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: ) {
  footer .footer-container .footer-left {
    width: 300px;
  }
}
@media screen and (max-width: ) {
  footer .footer-container .footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
footer .footer-container .footer-left img {
  width: 200px;
  margin-bottom: 110px;
}
@media screen and (max-width: ) {
  footer .footer-container .footer-left img {
    margin-bottom: 0px;
  }
}
footer .footer-container .footer-right {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer {
  display: flex;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer i {
  color: blue;
  font-size: 28px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
}
@media screen and (max-width: ) {
  footer .footer-container .footer-right {
    margin-top: 0px;
  }
}

header {
  height: 480px;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(241, 248, 249);
}

.card-department {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 340px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .card-department {
    max-width: 1200px;
  }
}

.card {
  box-shadow: 5px 1px 5px 5px rgb(205, 203, 203);
  margin-top: 50px;
  position: relative;
  flex: 1 1 100%;
  margin: 31px 0;
  padding: 20px;
  background: white;
}
@media screen and (min-width: 480px) {
  .card {
    flex-basis: calc(33.33% - (62px + 40px));
    margin: 0 31px;
  }
}

.card__thumb {
  overflow: hidden;
}

.card__img {
  margin: -20px -20px 0;
}
.card__img img {
  max-width: 100%;
  height: auto;
  border: 0;
  box-sizing: border-box;
}

.card__one {
  transition: transform 0.5s;
  margin-top: 50px;
}
.card__one::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: "";
  opacity: 0;
  z-index: -1;
}
.card__one:hover, .card__one:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.card__one:hover::after, .card__one:focus::after {
  opacity: 1;
}

header {
  background-image: url(/image/img-of-content/header1.webp);
  background-size: cover;
  height: 400px;
}

.image {
  background-color: rgba(14, 59, 98, 0.867);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.image p {
  font-size: 23px;
}
.image b {
  font-size: 70px;
}
@media screen and (max-width: 620px) {
  .image b {
    font-size: 60px;
  }
}

.care {
  display: flex;
  justify-content: center;
  align-items: center;
}
.care .we-care {
  display: flex;
  margin-top: 100px;
  width: 80%;
}
@media screen and (max-width: 1200px) {
  .care .we-care {
    flex-direction: column;
    width: 94%;
    margin-bottom: 30px;
  }
}
.care .we-care .we-care-left {
  flex: 1.5;
}
.care .we-care .we-care-left p {
  font-size: 40px;
  font-weight: bold;
  color: rgb(42, 80, 133);
}
@media screen and (max-width: 1200px) {
  .care .we-care .we-care-left p {
    font-size: 30px;
  }
}
.care .we-care .we-care-right {
  flex: 4;
}
.care .we-care .we-care-right p {
  font-size: 15px;
  margin-top: 10px;
  color: rgb(42, 80, 133);
}

.our-service {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-service .title h1 {
  color: rgba(14, 59, 98, 0.867);
}

.group-feedback {
  margin: 100px 10px;
  background: #ffffff;
}
.group-feedback .feedback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 1px 1px 5px 1px rgb(203, 30, 30);
}
.group-feedback .feedback img {
  height: 410px;
}
@media screen and (max-width: 1200px) {
  .group-feedback .feedback img {
    height: 390px;
  }
}
@media screen and (max-width: 1024px) {
  .group-feedback .feedback img {
    height: 280px;
  }
}
@media screen and (max-width: 730px) {
  .group-feedback .feedback img {
    height: 250px;
  }
}
@media screen and (max-width: 620px) {
  .group-feedback .feedback img {
    height: 315px;
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .group-feedback .feedback {
    grid-template-columns: 1fr;
  }
}
.group-feedback .feedback-right {
  margin-top: 20px;
}
.group-feedback .feedback-right h1 {
  margin-top: 90px;
}
@media screen and (max-width: 1200px) {
  .group-feedback .feedback-right h1 {
    margin-top: 80px;
    font-size: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .group-feedback .feedback-right h1 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 730px) {
  .group-feedback .feedback-right h1 {
    font-size: 20px;
  }
}
.group-feedback .feedback-right p {
  font-size: 18px;
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  .group-feedback .feedback-right p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .group-feedback .feedback-right p {
    font-size: 13px;
  }
}/*# sourceMappingURL=service.css.map */