nav {
  background-color: rgb(171, 215, 239);
  display: flex;
  justify-content: space-between;
}
nav .nav-left {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 50px;
}
@media screen and (max-width: 1024px) {
  nav .nav-left {
    flex: 0.5;
  }
}
nav .nav-left img {
  height: 60px;
  margin-top: 15px;
}
nav .nav-right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
}
nav .nav-right input {
  display: none;
}
@media screen and (max-width: 730px) {
  nav .nav-right #menu__toggle {
    opacity: 0;
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  nav .nav-right #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  nav .nav-right #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  nav .nav-right .menu__btn {
    position: absolute;
    top: 36px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  nav .nav-right .menu__btn > span,
  nav .nav-right .menu__btn > span::before,
  nav .nav-right .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  nav .nav-right .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  nav .nav-right .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 60px 0;
    background-color: rgb(171, 215, 239);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__item {
    display: block;
    padding: 15px 30px;
    color: #333;
    font-family: "Roboto", sans-serif;
    transition-duration: 0.25s;
  }
  nav .nav-right .menu__item:hover {
    background-color: #CFD8DC;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-right {
    flex: 1.5;
  }
}
nav .nav-right ul {
  display: flex;
  gap: 40px;
}
nav .nav-right ul li {
  list-style: none;
}
nav .nav-right ul li a {
  text-decoration: none;
}

footer {
  background: skyblue;
  margin-top: -5PX;
}
footer .footer-container {
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: ) {
  footer .footer-container {
    gap: 30px;
  }
}
@media screen and (max-width: ) {
  footer .footer-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
footer .footer-container .footer-left {
  width: 380px;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: ) {
  footer .footer-container .footer-left {
    width: 300px;
  }
}
@media screen and (max-width: ) {
  footer .footer-container .footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
footer .footer-container .footer-left img {
  width: 200px;
  margin-bottom: 110px;
}
@media screen and (max-width: ) {
  footer .footer-container .footer-left img {
    margin-bottom: 0px;
  }
}
footer .footer-container .footer-right {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer {
  display: flex;
  align-items: center;
}
footer .footer-container .footer-right .contact-footer i {
  color: blue;
  font-size: 28px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
}
@media screen and (max-width: ) {
  footer .footer-container .footer-right {
    margin-top: 0px;
  }
}

header {
  height: 480px;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: sans-serif;
}

.Pictures-clinic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-top: 50px;
}
@media screen and (max-width: 730px) {
  .Pictures-clinic {
    flex-direction: column;
  }
}
.Pictures-clinic .Pictures {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.Pictures-clinic .Paragraph {
  flex: 1;
}
@media screen and (max-width: 730px) {
  .Pictures-clinic .Paragraph {
    flex: 0;
  }
}
.Pictures-clinic .Paragraph p {
  width: 50%;
  margin-top: 25px;
}
@media screen and (max-width: 730px) {
  .Pictures-clinic .Paragraph p {
    width: 100%;
    margin-top: 10px;
  }
}

/* table */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -30px;
  width: 100%;
}
.table-container h1 {
  color: blue;
}
.table-container .color {
  color: red;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin-top: 20px;
  height: 60vh;
  width: 90%;
  background: rgb(171, 215, 239);
}
table thead {
  height: 10vh;
  background: rgba(192, 190, 190, 0.943);
}
table th,
table td {
  border: 1px solid black;
}
@media screen and (max-width: 730px) {
  table th,
  table td {
    font-size: 11px;
  }
}/*# sourceMappingURL=table-schedul.css.map */