@import "./main.scss";
@import './content/MakeAppointment';
@import "./component/location";

.working-hour {
    @include margin;
    margin: {
        left: 65px;
        right:$mainMargin;
    };
    h1 {
        text-align: center;
        margin-bottom: 50px;
        color: $seconaryColor;
    }
    p,li{
        font-size: 20px;
        @include responsive(md){
            font-size: 13px;
        }
    }
}
