@import "./main.scss";
@import './content/MakeAppointment';
@import "./component/location";

.working-hour {
    @include margin;

    margin: {
        left: 90px;
        right: 70px;
    };
    h1 {
        text-align: center;
        margin-bottom: 50px;
    }
}
