@import './main.scss';
@import './component/services-card';
@import './mixins/responsive';
header {
    display: flex;
    justify-content: center;
    background-image: url(./img/cardbody.webp);
    background-size: cover;
    height: 400px;
}
