
@import './main';
@import './component/card-service';
@import './mixins/responsive';

header {
    background-image: url(/image/img-of-content/header1.webp);
    background-size: cover;
    height: 400px;
}
.image {
    background-color: $mainColor;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    p {
        font-size: 23px;
    }

    b {
        font-size: 70px;
        @include responsive(mobile) {
            font-size: 60px;
        }
    }
}

.care {
    @include centered;
    .we-care {
        display: flex;
        @include responsive(Desktop) {
            flex-direction: column;
            width: 94%;
            margin-bottom: 30px;
        }

        margin-top: 100px;
        width: 80%;

        .we-care-left {
            flex: 1.5;

            p {
                font-size: 40px;
                font-weight: bold;
                color: $mainColor;

                @include responsive(Desktop) {
                    font-size: 30px;

                }
            }
        }
        .we-care-right {
            flex: 4;
            p {
                font-size: 15px;
                margin-top: 10px;
                color:$mainColor;
            }
        }
    }
}

.our-service {
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
        h1 {
            color: $mainColor;
        }
    }

}

.group-feedback {
    margin: 100px 10px;
    background: #ffffff;

    .feedback {
        img {
            height: 410px;
            @include responsive(Desktop) {
                height: 390px;
            }

            @include responsive(Laptop) {
                height: 280px;
            }

            @include responsive(Tablet) {
                height: 250px;
            }
            @include responsive(mobile) {
                height: 315px;
                display: none;
            }
        }

        @include responsive (mobile) {
            grid-template-columns: 1fr;
        }

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        box-shadow: 1px 1px 5px 1px $primaryColor;
    }

    .feedback-right {
        margin-top: 20px;

        
        h1 {
            @include responsive(Desktop) {
                margin-top: 80px;
                font-size: 25px;

            }

            @include responsive (Laptop) {
                margin-top: 10px;
            }

            @include responsive(Tablet) {
                font-size: 20px;
            }
            @include responsive(mobile) {
            }
            margin-top: 90px;
        }

        p {
            @include responsive (Desktop) {
                font-size: 15px;
            }

            @include responsive(Laptop) {
                font-size: 13px;
            }

            font-size: 18px;
            margin-top: 20px;
        }
    }
}