@import './main.scss';
@import './component/services-card';
@import './mixins/responsive';
header{
    height: 480px;
    background-image: url(/image/img-of-content/heaer-servicce.jpg);
    background-size: cover;
    @include responsive(md){
        height: 230px;
        
    }
    
}
<<<<<<< HEAD
=======
=======
@import './component/card-service';
<<<<<<< HEAD
@import './mixins/responsive';
=======
>>>>>>> df8e5c67d5b17d8d2fdae6d5f46bf2edfd49eb0d
>>>>>>> 45cd422c4bf221d83b0750231329ee7f2c1e80bc
>>>>>>> 30c841f31913f14b9284de405c594b2e87a10fa7

header {
    background-image: url(/image/img-of-content/header1.webp);
    background-size: cover;
    height: 400px;

    .image {
        background-color: rgba(35, 121, 196, 0.867);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        p {
            margin-bottom: -100px;
            font-size: 23px;
        }

        b {
            font-size: 70px;
            @include responsive(mobile){
                font-size: 40px;
            }
        }
    }

}

