@import '../component/variable';
@import '../component/group-mxin';
@import '../mixins/responsive';

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;

    h2 {
        align-self: center;
    }
    .contactUs {
        width: 70%;
        display: flex;
        background:$mainColor;
        color: aliceblue;
        box-shadow: 1px 5px 2px 0px gray;
        @include responsive(Laptop){
            width: 85%;
        }
        @include responsive(Tablet){
            flex-direction: column;
        }
        .contactUs-left {
            flex: 0.7;
            @include column;
            margin-left: 20px;
            gap: 30px;
            h2 {
                margin-bottom: 20px;
                @include responsive(Laptop){
                    font-size: 22px;
                    margin-top: 10px;
                }
            }
        }

        .contactUs-right {
            flex: 1;
            margin-top: 60px;
            @include responsive(Laptop){
                margin-top: 75px;
            }
            @include responsive(Tablet){
                margin-top: 30px;
            }
            h3 {
                margin-top: 10px;
                margin-bottom: 20px;
            }

            .formBox {
                position: relative;
                width: 100%;
                @include column;
                gap: 20px;

                .row50 {
                    display: flex;
                    gap: 30px;
                    @include responsive(Laptop){
                        gap: 10px;
                    }

                    .inputBox {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        border-bottom: 10px;

                        input {
                            padding: 10px;
                            background-color: rgb(229, 233, 235);
                            @include responsive(Laptop){
                                padding: 6px;
                            }
                        }
                    }
                }

                button {
                    width: 30%;
                    height: 30px;
                    border-radius: 10px;
                    border: none;
                    background-color: rgb(158, 237, 237);
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}
textarea{
    width: 99.5%;
}