@import '../component/variable';
@import '../component/group-mxin';
@import '../mixins/responsive';

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;

    h2 {
        align-self: center;
    }

    .contactUs {
        height: 500px;
        width: 70%;
        display: flex;
        background: #233468d3;
        color: aliceblue;
        box-shadow: 1px 5px 2px 0px rgb(220, 219, 219);

        .contactUs-left {
            flex: 0.7;
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            gap: 30px;

            h2 {
                margin-bottom: 20px;
            }

            .content {
                

            }

        }

        .contactUs-right {
            flex: 1;
            margin-top: 60px;

            h3 {
                margin-top: 10px;
            }

            .formBox {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .row50 {
                    display: flex;
                    gap: 30px;

                    .inputBox {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        border-bottom: 10px;

                        input {
                            padding: 10px;
                            background-color: rgb(229, 233, 235);
                        }
                    }
                }

                button {
                    width: 30%;
                    height: 30px;
                    border-radius: 10px;
                    border: none;
                    background-color: rgb(158, 237, 237);
                }
            }
        }
    }
}
textarea{
    width: 99.5%;
}
