@import '../component/variable';
@import '../component/group-mxin';
@import '../mixins/responsive';

.our-doctor {
    @include column;
    text-align: center;

    margin: {
        left: 50px;
        right: 50px;
    }

    ;

    h1 {
        @include margin;
        color: $seconaryColor;
    }

    .container-buntton {
        @include responsive(xl) {
            flex-direction: row,
        }

        display: flex;
        justify-content: end;
        margin-right: 180px;
        width: 100%;
        margin-bottom: 50px;

        @include responsive(xl) {
            justify-content: center;
        }

        @include responsive(md) {
            display: none;
        }
    }

    .container {
        display: flex;
        gap: 40px;

        @include responsive(xl) {
            gap: 95px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .card {
            height: 270px;
            width: 24%;

            @include responsive(xl) {
                width: 33%;
            }

            @include responsive(md) {
                width: 90%;
            }
            img {
                height: 200px;
<<<<<<< HEAD
=======
                @include responsive(md){
                    height: 250px;
>>>>>>> 1db6214e69cb68c3560bd6b230779513b26dba86
            }
            .card-header {
                width: 100%;
                height: 200px;
                @include centered;
<<<<<<< HEAD

                @include responsive(md) {
                    margin-left: 20%;
=======
                // background: yellow;
                @include responsive(md){
                    // margin-left: 22%;
                    // width: 270px;
                    height: 250px;
                }            
            }
            .card-footer {
                @include responsive(xl){
                    height: 75px;  
>>>>>>> 1db6214e69cb68c3560bd6b230779513b26dba86
                }
            }

            .card-footer {
                @include responsive(xl) {
                    height: 75px;
                }

                background: $mainColor;
                height: 60px;
                @include centered;
                flex-direction: column;
                border-radius: $borderRadius;
                gap: $borderRadius;
            }
        }

    }

}