@import '../component/variable';
@import '../component/group-mxin';
@import '../mixins/responsive';

.doctor {
    @include centered;
    flex-direction: column;

    h2 {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .container2 {
        width: 100%;
        display: flex;
        margin-left: 50px;
        margin-right: 50px;
        @include responsive(Tablet){
            flex-wrap: wrap;
        }
    }

    .wrapper,
    .card2 {
        height: 400px;
        width: 270px;
        margin: auto;
        position: relative;
    }

    .wrapper {
        perspective: 900px;

        .card2 {
            text-align: center;
            transition: all 1.2s cubic-bezier(0.7, -.5, 0.3, 1.8);
            transform-style: preserve-3d;
        }
    }

    .wrapper:hover .card2 {
        transform: rotateY(180deg);
    }

    .front1,
    .front2,
    .front3,
    .front4,
    .back {
        width: 270px;
        position: relative;
        top: 0;
        left: 0;
        backface-visibility: hidden;
    }

    .front1 {
        cursor: pointer;
        height: 80%;
        background-image: url(/image/doctor-has-bg/doctor01.webp);
        backface-visibility: hidden;
        border-radius: 10px;
        background-size: cover;
        background-position: center center;
    }

    .front2 {
        cursor: pointer;
        height: 80%;
        background-image: url(/image/doctor-has-bg/doctor02.jpg);
        backface-visibility: hidden;
        border-radius: 10px;
        background-size: cover;
        background-position: center center;

    }

    .front3 {
        cursor: pointer;
        height: 80%;
        background-image: url(/image/doctor-has-bg/doctor3.jpg);
        backface-visibility: hidden;
        border-radius: 10px;
        background-size: cover;
        background-position: center center;
    }

    .front4 {
        cursor: pointer;
        height: 80%;
        background-image: url(/image/doctor-has-bg/doctor.jpg);
        backface-visibility: hidden;
        border-radius: 10px;
        background-size: cover;
        background-position: center center;
    }
    .back {
        transform: rotateY(180deg);
        position: absolute;
        border-radius: 10px;
        height: 360px;
        background: rgb(233, 233, 233);
        border: 1px solid darkblue;
    }
    .content {
        padding-top: 18%;
    }
    .content h2 {
        font-size: 35px;
        margin: 0;
        font-weight: 300;
    }
    .contnet h4 {
        margin: 0;
    }
    .contnet p {
        margin-left: 10px;
        margin-right: 10px;
    }
    .socials-media {
    margin-top: 20%;
}
}