@import '../component/variable';
@import '../component/group-mxin';
@import '../mixins/responsive';

.why-they-choose-us {
    @include column;
    align-items: center;
    margin: {
        left: $mainMargin;
        right: $mainMargin;
    };
    h1 {
        @include margin;
        color: $seconaryColor;
    }
    .card-container {
        @include responsive(md){
           flex-wrap: wrap;
        }
        display: flex;
        gap: 40px;
        .card {
            @include responsive(md){
                width: 45%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            @include responsive(sm){
                width: 98%;
            }
            width: 25%;
            display: flex;
            p {
                margin-top: 20px;
                text-align: center;
            }
        }
    
    }

}







