@import './variable';
@import './group-mxin';
@import '../mixins/responsive';
.container {
    margin-top: 100px;
    @include centered;

    .container-card {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        gap: 50px;
        margin-left: 50px;
        @include responsive(Desktop){
            width: 80%;
        }
        @include responsive(Laptop){
            
            width: 90%;
            gap: 30px;
        }
        @include responsive(Tablet){
            margin-left: 10px;
        }
        @include responsive(mobile){
        }

        .card {
            @include responsive(Laptop){
                width: 27%;
            }
            @include responsive(Tablet){
                width: 45%;
            }
            @include responsive(mobile){
                width: 90%;
            }
            width: 27.5%;
            margin-top: 25px;
            background: white;
            padding: .4em;
            border-radius: 5px;
            box-shadow: 10px 10px 5px rgb(182, 189, 191);

            .card-image {
                height: 210px;
                width: 100%;
                display: flex;
                justify-content: center;
                border-radius: 6px 6px 0 0;
                @include responsive(Laptop){
                    height: 190px;
                }

                img {
                    @include responsive(Desktop){
                        width: 220px;
                        height:210px ;
                    }
                    @include responsive(Laptop){
                        width: 200px;
                        height: 190px;
                    }
                    @include responsive(Tablet){
                        width: 230px;
                    }
                    @include responsive(mobile){
                        width: 290px;
                        height: 210px;
                    }
                    margin-top: -30px;
                    width: 255px;
                    height: 220px;

                }
            }

            .card-image:hover {
                transform: scale(0.98);
            }

            .category {
                text-transform: uppercase;
                font-size: 0.7em;
                font-weight: 600;
                color: rgb(63, 121, 230);
                padding: 10px 7px 0;
            }

            .category:hover {
                cursor: pointer;
            }

            .heading {
                font-size: 13px;
                color: rgb(88, 87, 87);
                padding: 7px;

                .money {
                    color: gray;
                    font-weight: 400;
                    font-size: 11px;
                    padding-top: 20px;
                }
            }

            .heading:hover {
                cursor: pointer;
            }


        }
    }

}