@import './variable';
@import './group-mxin';
@import '../mixins/responsive';
footer {
    background: skyblue;
    margin-top: -5PX;
    
    .footer-container {
        margin-left: $mainMargin;
        margin-right: $mainMargin;
        height: 100%;
        @include between;
        
        gap: 50px;
        @include responsive(xl){
            gap: 30px;
        }
        @include responsive(md){
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .footer-left{
            width: 380px;
            margin-top: $mainMargin;
            margin-bottom: $mainMargin;
            @include responsive(xl){
                width: 300px;
            }
            @include responsive (md){
                @include centered;
                margin-top:$mainMargin;
                margin-bottom: 0px;
            }

            img {
                width: 200px;
                margin-bottom: 110px;
                @include responsive (md){
                    margin-bottom: 0px;
                }
            }
        }
        .footer-right {
            margin-top: $mainMargin;
            margin-bottom: $mainMargin;
            width: 380px;
            @include centered;
            .contact-footer {
                display: flex;
                align-items: center;
                i {
                    color: $seconaryColor;
                    font-size: 28px;
                    text-align: center;
                    line-height: 42px;
                    margin: 10px 15px;
                }
            }
            @include responsive(md){
                margin-top: 0px;
            }
        }   
    }
}

   