@import './variable';
@import './group-mxin';
@import '../mixins/responsive';
.container{
    display: flex;
    justify-content: center;
}
.container-card{
    width: 80%;
    @include between;
    flex-wrap: wrap;
    margin: $mainMargin;
    @include responsive(Laptop){
        width: 90%;
        margin-top: 0px;
    }
}
.card {
    width: 30%;
    height: 340px;
    margin-top: $mainMargin;
    background: $primaryColor;
    @include responsive(Laptop){
        width: 32%;
    }
    @include responsive(Tablet){
        width: 48%;
        // height: 320px;
    }
    @include responsive(mobile){
        width: 98%;
    }

    .card-footer{
        @include column;
        gap: 7px;
        h5{
            margin-top: 15px;
            text-align: center;
            text-transform: uppercase;
            color: $seconaryColor;
        }
        p{
            // @include responsive(Laptop){
            //     font-size: 9px;
            // }
            font-size: 11px;
            text-align: center;
        }
    }
}

