@import './variable';
@import './group-mxin';
nav {
    background-color: rgb(171, 215, 239);
    display: flex;
    justify-content: space-between;
}

.nav-left {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 40px;

    img {
        height: 60px;
        margin-top: 15px;
    }

}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 40px;

    ul {
        display: flex;
        gap: 40px;

        li {
            list-style: none;

            a {
                text-decoration: none;
            }
        }
    }
}