.card {
    width: 30%;
    height: 340px;
    background: gainsboro;

    .card-footer {
        display: flex;
        flex-direction: column;
        gap: 7px;
        h5,p{
            text-align: center;
        }
        h5{
            margin-top: 10px;
            color: blue;
        }
        p{
            font-size: 13px;
        }
    }
}

