.container{
    display: flex;
    justify-content: center;
}
.container-card{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 30%;
    height: 340px;
    margin-top: 50px;
    background: gainsboro;

    .card-footer{
        display: flex;
        flex-direction: column;
        gap: 7px;
        h5{
            margin-top: 15px;
            text-align: center;
            text-transform: uppercase;
        }
        h5{

            color: blue;
        }
        p{
            font-size: 13px;
            text-align: center;
        }
    }
}

