@import './variable';
@import './group-mxin';
.container{
    display: flex;
    justify-content: center;
}
.container-card{
    width: 80%;
    @include between;
    flex-wrap: wrap;
    margin-bottom: $mainMargin;
}
.card {
    width: 30%;
    height: 340px;
    margin-top: $mainMargin;
    background: $primaryColor;

    .card-footer{
        @include column;
        gap: 7px;
        h5{
            margin-top: 15px;
            text-align: center;
            text-transform: uppercase;
            color: $seconaryColor;
        }
        p{
            font-size: 13px;
            text-align: center;
        }
    }
}

