@import './variable';
@import './group-mxin';
@import '../mixins/responsive';

.table-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    table {
        width: 80%;
        border-collapse: collapse;
    }
}

thead {
    color: white;
}

td,
th {
    padding: 10px;
    text-align: center;
    border: 1px solid white;
}

tbody {
    background-color: rgba(34, 29, 90, 0.79);
    color: white;
    font-weight: bold;
}

tbody:hover {
    background-color: rgb(31, 38, 40);
}

thead th:nth-child(odd) {
    background-color: rgb(15, 15, 84);
}

thead th:nth-child(even) {
    background-color: rgb(7, 236, 60);
}

.material-icons {
    color: white;
}