$mainMargin:50px;
$mainColor:rgb(171, 215, 239);
$primaryColor:rgba(192, 190, 190, 0.943);
$seconaryColor:rgba(36, 36, 238, 0.897);
$borderRadius:10px;
<<<<<<< HEAD
$tablecolor: red;
$tablecolorblack: black;
$colorwhite: white;
=======
$color-bg: #f8f8f8;
$card-padding: 20px;
$grid-gutter: 31px;
$small: 480px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
>>>>>>> ad46d0652f67ab3a8df3a4204124e1590d1685c2
