$mainMargin:50px;
$mainColor:rgb(171, 215, 239);
$primaryColor:rgba(192, 190, 190, 0.943);
$seconaryColor:blue;
$borderRadius:10px;
$color-bg: #f8f8f8;
$card-padding: 20px;
$grid-gutter: 31px;
$small: 480px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;