$mainMargin:50px;
$mainColor:rgba(14, 59, 98, 0.867);
$primaryColor:rgb(203, 30, 30);
$seconaryColor:gray;
$borderRadius:10px;
$small: 480px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$color-bg: #f8f8f8;
$card-padding: 20px;
$grid-gutter: 31px;
$marginTen:10px;