@import './variable';
@import './group-mxin';
.why-they-choose-us{
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
.why-they-choose-us h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
.why-they-choose-us .card-container{
    display: flex;
    gap: 40px;
    
}
.why-they-choose-us .card-container .card{
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.why-they-choose-us .card-container .card p{
    margin-top: 20px;
    text-align: center;
}
